/*  */
/* ======================== */
/* /*  */
    /* Ignore the following styles. They are not important to achieve the effect. */
    /* I'm only using them for looks (overall page background/font styles/centering content). */
/* */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #151515;
	color: #fff;
	display: grid;
	place-items: center;
}
img {
	/* display: block;
	max-width: 100%; */
}
/* ======================== */
.card {
	position: relative;
	width: 350px;
	height: 250px;
	background-color: #000;
	overflow: hidden;
}
.card__image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	scale: 1.15;
	transition: opacity 0.25s, scale 0.35s;
}
.card:hover .card__image {
	opacity: 0.5;
	scale: 1;
}
.card__body {
	position: absolute;
	inset: 0;
	padding: 50px;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
	justify-content: center;
}
.card__body::before {
	content: '';
	position: absolute;
	inset: 20px;
	border: 2px solid #fff;
	opacity: 0;
	scale: 1.25;
	transition: opacity 0.25s, scale 0.25s;
}
.card:hover .card__body::before {
	opacity: 1;
	scale: 1;
}
.card__title {
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.card__description {
	font-size: 14px;
	opacity: 0;
	translate: -25px;
	transition: opacity 0.25s, translate 0.25s;
}
.card:hover .card__description {
	opacity: 1;
	translate: 0;
}
