*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    font-family: "Trebuchet MS","Lucida Sans Unicode";
    position: relative;
    /* height: 100vh; */
    /* width: 100vw; */
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle1{
    position: fixed;
    top: 5%;
    left: 10%;
    height: 13em;
    width: 13em;
    border-radius: 50%;
    background: linear-gradient(25deg, #631628, #f46641);
    animation: circleAnimate 15s infinite;
}
 .circle2{
    position: fixed;
    bottom: 15%;
    right: 10%;
    height: 13em;
    width: 13em;
    border-radius: 50%;
    background: linear-gradient(-25deg, #d84869, #80240d);
    animation: circleAnimate2 15s infinite;
}

@keyframes circleAnimate {
    50% {
        left: 50%;
        top: 4%;
        scale: 1.11;
    }
    /* 100% {
        right: 15%;
        top: 10%;
    } */
}
@keyframes circleAnimate2 {
    50% {
        right: 50%;
        bottom: 4%;
        scale: 1.11;
    }
    /* 100% {
        right: 15%;
        top: 10%;
    } */
}

.card-wrapper {
    border-radius: 10px;
    background: #5f5f5f83;
    opacity: .9; 
    height: 70vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profilePic img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.profilePic {
    padding-bottom: 1em;
}
.user-name {
    color: #ffffff88;
    padding-bottom: 1em;
}
.designation {
    color: #ffffff88;
    padding-bottom: 5em;
}
.bottom-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
button div {
    display: inline;
}
.btn-share {
    text-transform: capitalize;
    /* width: 120px; */
    padding: 10px 5px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-follow {
    text-transform: capitalize;
    width: 150px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-card:hover {
    background: #ffffffb9;
    color: #131313;
}
.model {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    scale: 0;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;

    padding: 20px 25px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}
.model-header {
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #ffffff88;
}
#facebook {
    background-color: #134157;
    padding: 7px;
    border: 1px solid #000000;    
}
#twitter {
    background-color: #0081c2;
    border: 1px solid #000000;
    padding: 7px;

}
#whatsapp {
    background-color: #2fe664;
    padding: 7px;
    border: 1px solid #000000;
}
#whatsapp:hover {
    background-color: #2fe664;
    color: #ffffff;
}
#telegram {
    background-color: #0081c2;
    padding: 7px;
    border: 1px solid #000000;
}
#telegram:hover{
    background-color: #0081c2;
    color: #ffffff;
}
.icon-container {
    margin: 0 auto;
    margin-top: 3em;
    /* float: right; */
}
a {
    color: white
}
.icon-container a + a{
    margin-left: 10px;
}  
.active {
    scale: 1;
}
.overlay {
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
.overlayactive {
    opacity: 1;
    pointer-events: initial;
}
@media (max-width: 850px) {
    .card-wrapper {
        max-width: 250px;
        width: 300px;
    }
    .bottom-group {
        flex-direction: column;
    }
    .model {
        width: 70vw;
    }
}
@media (max-width: 400px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card-wrapper {
        position: static;
        top: 0;
        left: 0;
        translate: 0 0;
        margin: 0 12px;
        padding: 0 10px;
    }

    .card-wrapper div img {
        width: 120px;
        height: 120px;
    }

    .user-name h2 {
        font-size: 1.3rem;
    }
    .model {
        width: 80vw;
    }
}
